<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../tests/bootstrap.php"
         cacheResultFile="../var/cache/.phpunit.result.cache"
         executionOrder="random"
         forceCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutCoversAnnotation="true"
         verbose="true">
    <testsuites>
        <testsuite name="all">
            <directory>../tests</directory>
            <exclude>../tests/Unit/Configuration/AuthorizationTest.php</exclude>
        </testsuite>
        <testsuite name="unit">
            <directory>../tests/Unit</directory>
            <exclude>../tests/Unit/Configuration/AuthorizationTest.php</exclude>
        </testsuite>
        <testsuite name="unit-configuration">
            <directory>../tests/Unit/Configuration</directory>
            <exclude>../tests/Unit/Configuration/AuthorizationTest.php</exclude>
        </testsuite>
        <testsuite name="unit-domain">
            <directory>../tests/Unit/Domain</directory>
        </testsuite>
        <testsuite name="unit-application">
            <directory>../tests/Unit/Application</directory>
        </testsuite>
        <testsuite name="unit-infrastructure">
            <directory>../tests/Unit/Infrastructure</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>../tests/Functional</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APPLICATION_ENVIRONMENT" value="test" force="true"/>
        <env name="APPLICATION_DEBUG" value="1" force="true"/>
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src</directory>
            <directory suffix=".php">../configuration</directory>
            <directory suffix=".php">../public</directory>
        </include>
        <exclude>
            <directory>../tests</directory>
        </exclude>
    </coverage>
</phpunit>
