<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../tests/bootstrap.php"
         cacheResultFile="../var/cache/.phpunit.result.cache"
         executionOrder="random"
         forceCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutCoversAnnotation="true"
         verbose="true">
    <testsuites>
        <testsuite name="all">
            <directory>../tests</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>../tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>../tests/Functional</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APPLICATION_ENVIRONMENT" value="test" force="true"/>
        <env name="APPLICATION_DEBUG" value="1" force="true"/>
    </php>
</phpunit>
